# Miscellaneous
*.DS_Store
*.iml
*.log

# IDE/Editor specific
.idea/
.vscode/

# Build output
/build/
/.vscode/

/lib/core/utils/api_keys/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/ios/Podfile
/pubspec.lock
/api_keys
